<div class="container py-5 bg-body-tertiary">
  <h3 class="text-center">My Dashboard</h3>
  <div class="dashboard-container">
    <div class="my-info">
      <p>Latest Project:</p>
      <p>Upcoming Deadlines:</p>
      <p>Current Points:</p>
    </div>
    <div class="buddy-container">
      <h5>Place buddy inside a big square here.</h5>
      <img class="buddy-image" src="" alt="OnTrack Buddy">
    </div>
    <div class="buddy-links">
      <a href="#">Feed</a>
      <a href="#">Say Hi</a>
    </div>
    <div class="project-recommendations">
      <h5>Place project recommendations here.</h5>
    </div>
  </div>
</div>
